.container {
    margin-left: 280px;
    margin-top: 100px;
}

h1 {
    font-size: 46px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.field-value {
    display: flex;
    column-gap: 80px;
}

.namefield {
    width: 60px;
}

.field {
    font-size: 24px;
    font-weight: 400;
    color: #ABABAB;
    margin-top: 55px;
}

.value {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin-top: 52px;
}

.grid-but {
    display: flex; 
    justify-content: space-between;
    width: 860px;
    margin-top: 40px;
    margin-bottom: 120px;
}
